@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px 0 40px;
    overflow-x: hidden;
    
}

.left {
    flex: 1;
    padding-bottom: 0;
    /* padding-left: 20px; */
}

.left h1{
    font-size: 2.75rem;
    letter-spacing: 2px;
    font-weight: normal;
}

.container button {
    background-color: #a41770;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    letter-spacing: 4px;
    border: none;
    border-radius: 20px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: 0.25s ease;
}

.container button:hover {
    background-color: #6f0f4b;
}

.heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #545454;
}

.paragraph {
    font-size: 1rem;
    letter-spacing: 5px;
    font-weight: 900;
}

.right {
    flex: 2;
    opacity: 1;
}

.mobileScreens {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.smallParagraph{
    text-align: center;
    padding: 0;
  
}

.smallParagraph h3{
    margin: 0;
    font-size: 1rem;
}

.smallParagraph h1{
    font-family: 'Oleo Script', cursive;
    margin: 0;
    font-size: 1.5rem;
}

.smallParagraph h1 span{
    color: #a41770;
    margin: 0;
}

.smallParagraph p{
    margin: 0;
    /* font-size: 1.1rem; */
}


@media screen and (max-width: 1000px) {
    
    .container{
        /* flex-direction: row; */
        height: auto;
    }

    .mobileScreens{
       
        flex-direction: column;
        margin-top: 2.5rem;
        
    }

    .right{
        
        display: none;
    }

    .left{
        padding-bottom: 0;
        overflow-y: 0;
        /* padding-left: 40%; */
    }

    .smallParagraph p{
        margin-bottom:  1rem;
        /* font-size: 0.85rem; */
    }
    
}