.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* padding: 10px; */
    margin-top: 0.85rem;
    padding-bottom: 10px;
    overflow-x: hidden;
}

.container h1 {
    color: #545454;
    text-align: center;
    font-size: 2.75rem;
    letter-spacing: 2px;
    margin: 0;
    margin-bottom: 15px;
    font-weight: normal;
}

.container p {
    color: #545454;
    text-align: center;
    font-size: 20px;
    /* margin-top:-20px; */
    padding: 0 60px ;
    margin: 0 0 15px 0;
}

.container button {
    background-color: #a41770;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    letter-spacing: 4px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.25s ease;
}

.container button:hover {
    background-color: #6f0f4b;
}


.mainImage {
    margin-top: 20px;
    width: 55%;
    height: auto;
}

@media screen and (max-width: 1120px) {

    .container{
        margin-top: 60px;
    }

    .container h1{
        font-size: 2.25rem;
        margin: 0 2px 0 2px;
    }

    .container p{

        margin:0 2px 0 2px;
    }

    .mainImage{
        width: 70%;
        height: auto;
    }

    .container button{
        margin-top: 10px;
    }
}



@media screen and (max-width:900px) {

    .container{
        height: auto;
    }

    .mainImage{
        
        display: none;
    } 

    /* .container h1{
        font-size: 2rem;
        margin: 1rem  0 1rem 0;
    } */

    .container p{

        margin: 1rem  0 1rem 0;
    }

}

@media screen and (max-width:464px) {
    .container p{
        margin: 10px 0 10px 0;
    } 

    .container p{
        padding: 15px;
    }
}
