.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #a41770;
}

.heading {
    font-size: 3.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    padding-top: 20px;
}

.image {
    width: 300px;
    height: auto;
    padding-bottom: 60px;
}

.image3{
    width: 400px;
    height: auto;
    padding-bottom: 60px;
}

.allImages{
    display: flex;
}

@media screen and (max-width: 1130px) {
    .heading{
        font-size: 2.25rem;
    }

    .image{
        width: 200px;
        height: auto;
        padding: 0 ;
    }

    .image3{
        width: 300px;
        height: auto;
    }

    .allImages{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:400px) {
    .heading{
        font-size: 2rem;
    }

    .image{
        height: auto;
        width: 80%;
    }
}