.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: white;
    overflow-x: hidden;
}

.heading {
    font-size: 2.75rem;
    margin-bottom: 20px;
    text-align: center;
    color: #545454;
    letter-spacing: 2px;
    padding-top: 10px;
    font-weight: normal;
}

.text {
    padding: 0 150px 0 150px;
    text-align: center;
    margin-top: 0;
    font-weight: normal;
    font-size: 1.25rem;
}

.image {
    width: 700px;
    height: auto;
    padding-bottom: 15px;
    opacity: 1;
}

.container button {
    background-color: #a41770;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    letter-spacing: 4px;
    border: none;
    border-radius: 20px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: 0.25s ease;
}

.container button:hover {
    background-color: #6f0f4b;
}



@media screen and (max-width: 1130px) {
    .heading{
        font-size: 2.25rem;
    }

}

@media screen and (max-width:900px) {
    .image{
        display: none;
    }

    .text{
        padding: 0 50px 0 50px;
        font-weight: normal;
    }
}

@media screen and (max-width:400px) {
    .heading{
        font-size: 2rem;
    }

    .text{
        margin: 0;
        padding: 0 15px 0 15px;
    }
}