.container {
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px 10px 20px;
    color: #545454;
    max-width: 1100px;
    overflow-x: hidden;

}

.heading {
    font-size: 2.75rem;
    margin-bottom: 0px;
    letter-spacing: 2px;
    font-weight: normal;
}

.subtitle {
    font-size: 1.25rem;
    /* padding-left: 150px; */
    /* margin-bottom: 20px; */
    font-weight: normal;
    text-align: center;
}

.carouselWrapper {
    width: 100%;
    max-width: 400px;
    padding-right: 30px;    
}


.carouselItem {
    display: flex;
    font-weight: normal;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    border: 2px solid #aca8a8;
    border-radius: 40px;
    text-align: center;
    height: 350px;
    margin:0 20px 0 20px;
    cursor: pointer;  
}

.image {
    width: 70%;
    max-width: 300px;
    height: auto;
    border-radius: 0;
    /* margin: 5px; */
    margin-top: 20px;
    margin-bottom: 5px;
}

/* .imageDiv{
    border-radius: 0;
} */

.text {
    padding-top: 5px;
    font-size: 1rem;
    margin: 4px 0 4px 0;
    text-align: center;
    color: #545454;
}

.textDiv{
    margin-left: 200px;
}

.buttonStart {
    background-color: #a41770;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    letter-spacing: 4px;
    border: none;
    border-radius: 20px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: 0.25s ease;
}

.buttonStart:hover {
    background-color: #6f0f4b;
}

@media screen and (max-width:500px) {
    .heading{
        text-align: center;
    }
}

@media screen and (max-width:1000px) {
    .container{
        flex-direction: column;
    }
    .textDiv{
        margin-left: 0;
    }
    .carouselWrapper{
        padding-right: 0;
    }
}