.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 40px 0 40px;
    position: relative;
    margin-bottom: 20px;
    overflow-x: 0;
}

.heading {
    font-size: 2.75rem;
    margin-bottom: 20px;
    text-align: center;
    color: #545454;
    letter-spacing: 2px;
}

.subtitle {
    font-size: 1.35rem;
    margin-bottom: 0;
}

.images {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top: 20px; */
    padding: 0 150px  ;
}

.image {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.paragraph {
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
}

.learnMore {
    background-color: white;
    border: none;
    cursor: pointer;
    color: #d00074;
    font-size: 1rem;
}

.buttonStart {
    background-color: #a41770;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    letter-spacing: 4px;
    border: none;
    border-radius: 20px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: 0.25s ease;
}

.buttonStart:hover{
    background-color: #6f0f4b;
}

@media screen and (max-width:1000px) {
    .images{
        flex-direction: column;
        padding: 0;
    }

    .heading{
        font-size: 2rem;
    }
}

@media screen and (max-width:550px){
    .heading{
        font-size: 1.75rem;
        letter-spacing: 7px;
    }

    .subtitle{
        font-size: 1.35rem;
    }

    .image{
        width: 100%;
    }
}