.blogContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.blogItem {
    width: 40%;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
}

.blogImage {
    width: 350px;
    height: auto;
    border-radius: 5px;
}

/* .textDiv{
    margin-left : 13%;
    width: 350px;
} */

.blogTitle {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
}

.blogParagraph {
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
}

.btn {
    background-color: #a41770;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    letter-spacing: 2px;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.25s ease;
}

.btn:hover {
    background-color: #6f0f4b;
}

@media screen and (max-width: 950px) {
    .blogItem {
        width: 80%;
        margin: 20px;
    }

    .blogImage {
        width: 100%;
    }
}