.navbar {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    
}

.navbarNav {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navItem {
    margin-left: 30px;

}


.navLink {
    color: #404040;
    text-decoration: none;
    padding: 5px;
    letter-spacing: 3.5px;
    transition: 0.25s ease;
    border-radius: 15px;
}

.navLink:hover {
    background-color: #a41770;
    color: white;
}

@media screen and (max-width: 1015px) {
    .navbar {
        justify-content: center;
    }

    .navItem {
        font-size: 1rem;
    }
}

@media screen and (max-width:500px) {
    .navLink {
        letter-spacing: 0;
        padding: 10px;
    }

    .navItem {
        margin-left: 0;
    }
}