/* footer.module.css */

.footer {
    height: fit-content;
    background-color: #850953;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

.footerText {
    margin-bottom: 10px;
    color: white;
    font-weight: 500;
}

.footerLinks {
    list-style: none;
    padding: 0 10px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footerLinks {
    font-weight: 500;
    text-decoration: none;
}

.footerLinks a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 600px) {
    .footerLinks {
        flex-direction: column;
    }

    .footerLinks,
    .footerText {
        font-size: small;
    }

    .footerLinks{
        line-height: 25px;
    }
}
