.container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a41770;
    color: white;
    padding-top: 60px;
    padding-bottom: 10px;
}

.heading {
    font-size: 2.75rem;
    margin-top: 0;
    letter-spacing: 15px;
}

.paragraph {
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: center;
    font-weight: 500;
    margin-top: 0;
}

.row {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.item {
    flex: 1;
    margin: 0 1rem;
    text-align: left;
    background-color: #f6e2ee;
    border-radius: 35px;
    width: 22rem;
    height: auto;
}

.subheading {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    padding-left: 15px;
    color: #545454;
}

.number {
    color: #545454;
    font-size: 3rem;
    font-weight: 600;
    padding-left: 15px;
    margin-bottom: 0.5rem;
}

.text {
    font-size: 1rem;
    color: #545454;
    padding-left: 15px;
    font-weight: 600;
}

.important {
    font-size: 2rem;
    font-weight: 600;
}

.footer {
    padding-top: 50px;
}

.footer a {
    color: white;
}

@media screen and (max-width: 1150px) {
    .row {
        flex-direction: column;
    }

    .item {
        margin: 1rem 0;
    }
}