.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #a41770;
}

.heading {
    font-size: 3.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    letter-spacing: 2px;
}

.image {
    width: 80%;
    height: auto;
}

@media screen and (max-width: 1120px) {
    .heading{
        font-size: 2.5rem;
    }
}