.carouselWrapper {
    width: 0;
    height: 0;
    max-width: 900px;
    opacity: 0;
}


.carouselItem {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    height: auto;
    margin:0 20px 0 20px;  
}

.image {
    width: 400px;
    height: auto;
    max-width: 300px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media screen and (max-width:900px) {
    .carouselWrapper{
        width: 100%;
        height: auto;
        opacity: 1;
    }

    
}   