.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobileScreen {
    position: relative;
    width: 220px;
    height: 440px;
    background-image: url('../../Assets/mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 80%;
    height: 87%;
    border-radius: 30px;
    padding-bottom: 20px;
    /* object-fit: contain; */
}