.container {
    /* max-width: 600px; */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #545454;
    height: auto;
}

.container h1 {
    font-size: 2.75rem;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-weight: normal;
}

img {
    display: block;
    width: 400px;
    height: auto;
    margin: 0 auto;
    border-radius: 8px;
}

.container p {
    font-size: 20px;
    line-height: 1.6;
}

.buttonStart {
    background-color: #a41770;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    letter-spacing: 4px;
    border: none;
    border-radius: 20px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: 0.25s ease;
}

.buttonStart:hover {
    background-color: #6f0f4b;
}