.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #545454;
    text-align: center;
    height: auto;
    overflow-x: hidden;
}

.main {
    text-align: center;
    color: #545454;
}

.text {
    /* width: 30px; */
    flex: 0.5;
}

.heading {
    font-size: 2.75rem;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-weight: normal;
}

.subtitle {
    font-size: 1.25rem;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: normal;
}

.images {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.image {
    width: 400px;
    height: auto;
    margin: 10px 50px 0 50px;
}

.buttonStart {
    background-color: #a41770;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    letter-spacing: 4px;
    border: none;
    border-radius: 20px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: 0.25s ease;
}

.buttonStart:hover {
    background-color: #6f0f4b;
}

@media screen and (max-width:900px) {
    .container {
        height: auto;
        flex-direction: column;
    }

    .heading {
        font-size: 2rem;
        letter-spacing: 5px;
        padding: 0 5px 0 5px;
    }

    .subtitle {
        padding: 5px;
    }
}

@media screen and (max-width:400px) {
    .image{
        width: 350px;
    }
}